/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  background-color: #212123;
  color: #fff;
  height: 100%;
}

p {
    font-weight: 200;
}

.bg-navbar {
    background-color: #0E0E0E;
}

.body {
    margin-top: 0px;
}

/* TYPGRAPHY */

.section-title {
    color: #AB2B23;
    font-weight: 700;
}

.video-player {
    margin-bottom: 0;
}

.video-playlist {
    background-color: #151515;
    overflow-y: auto;
}

.live {
    border-bottom: 1px solid #3F3F3F;
}

.border-bottom {
    border-bottom: 1px solid #3F3F3F;
}

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #494949;
}




